html, body {
  height: 100%;
  margin: 0;
}

body {
    background: linear-gradient(to bottom, #31d6f7 0%, #b7e3ef 100%);
    background-attachment: fixed;;
}

.navigator {
    display: flex;
    position: absolute;
    white-space: nowrap;
    left: 50px;
    top: 50px;
    gap: 50px;
}

.navigator a {
    color:rgb(32, 57, 221);
    font-size:25px;
    text-decoration: none;
}

.navigator a:visited {
    color: rgb(32, 57, 221);
    text-decoration:none;
}

.block {
    position:absolute;
    top: 100px;
    left: 60px;
}

.title {
    display:flex;
    margin-left:0px;
    margin-top: 0px;
}

.box {
    display: block;
    width: 1200px;
    padding: 16px 24px;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #88d7ff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-color: #88d7ff;
}

.picture_box {
    float: left;
    width: 150px;
    padding: 16px 24px;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #88d7ff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-color: #88d7ff;
    margin-top: 50px;
}

#HEADER {
    font-size: 60px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

#HEADER_PARA {
    margin-left: 30px;
    margin-top: 75px;
    font-size: 30px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#header1 {
    float: left;
    margin-left: 18px;
    margin-top: 40px;
}

#para1 {
    margin-top: 80px;
    margin-left: 220px;
}

#para2, #para3, #para4, #header2, #header3, #header4, .block ul {
    margin-top: 40px;
    margin-left: 220px;
}

.picture_box img {
    width: 150px;
    height: auto;
    object-fit: contain;
    /* position: absolute;
    left:0px;
    top:280px; */
}

#no-dot {
    list-style: none;
}

#ark {
    /* position:absolute;
    left:700px;
    top:830px; */
    z-index:9999;
}

#HEADER_PARA span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100px) rotate(90deg);
    animation: throwChar 1s cubic-bezier(.2,.8,.2,1) forwards;
}

@keyframes throwChar {
    0%   { opacity: 0; transform: translateY(100px) rotate(360deg); }
    100% { opacity: 1; transform: translateY(0) rotate(0deg); }
}